

machine_learning/roof_indentification/Data/
machine_learning/roof_indentification/coco*
machine_learning/roof_indentification/Mask_RCNN
machine_learning/wms_output/
machine_learning/Georeferencing_WMS/

# Ignore compiled files
*.o
*.class
*.log

# Ignore environment files
/.venv311/
/myenv/
